ensemble-boxes
fastapi
jinja2
lap
matplotlib
mlflow
numpy
opencv-python-headless==4.8.1.78
pandas
Pillow
pytest
python-dotenv==1.0.0
python-multipart
requests
sahi
streamlit
supabase==2.3.4
supervision
timm
torch
torchmetrics
torchvision
tqdm
ultralytics==8.4.18
uvicorn
groq
chromadb 
sentence-transformers 
pdfplumber